In [1]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import time

In [2]:
api_key = 'YOUR KEY'

In [3]:
ts = TimeSeries(key=api_key, output_format='pandas')

In [4]:
data, meta_data = ts.get_intraday(symbol='SPY', interval = '1min', outputsize = 'full')

In [5]:
print(data)

                     1. open  2. high  3. low  4. close  5. volume
date
2022-06-02 20:00:00   418.04   418.04  417.92    418.00     3722.0
2022-06-02 19:59:00   418.02   418.05  418.02    418.03      889.0
2022-06-02 19:58:00   417.96   417.98  417.95    417.98     2905.0
2022-06-02 19:57:00   418.01   418.02  418.00    418.00     2591.0
2022-06-02 19:55:00   418.00   418.00  417.93    417.99     1654.0
...                      ...      ...     ...       ...        ...
2022-05-20 04:05:00   393.20   393.21  393.20    393.21      423.0
2022-05-20 04:04:00   393.40   393.40  393.21    393.21      493.0
2022-05-20 04:03:00   393.44   393.44  393.39    393.41     1072.0
2022-05-20 04:02:00   393.43   393.48  393.41    393.41     7442.0
2022-05-20 04:01:00   389.50   393.50  389.50    393.40     4862.0

[7810 rows x 5 columns]

In [6]:
data.describe()

           1. open      2. high       3. low     4. close     5. volume
count  7810.000000  7810.000000  7810.000000  7810.000000  7.810000e+03
mean    402.584307   402.698053   402.470490   402.586324  1.031494e+05
std       9.800118     9.783218     9.821091     9.801267  2.112688e+05
min     380.655000   380.790000   380.540000   380.660000  1.000000e+02
25%     393.742500   393.827450   393.660000   393.742500  1.705500e+03
50%     404.420000   404.505000   404.295000   404.425950  2.327450e+04
75%     412.278750   412.409975   412.160000   412.273750  1.435910e+05
max     418.550000   418.600000   418.470000   418.600000  4.750720e+06

In [7]:
data['Range'] = data['2. high'] - data['3. low']
print(data)

                     1. open  2. high  3. low  4. close  5. volume  Range
date
2022-06-02 20:00:00   418.04   418.04  417.92    418.00     3722.0   0.12
2022-06-02 19:59:00   418.02   418.05  418.02    418.03      889.0   0.03
2022-06-02 19:58:00   417.96   417.98  417.95    417.98     2905.0   0.03
2022-06-02 19:57:00   418.01   418.02  418.00    418.00     2591.0   0.02
2022-06-02 19:55:00   418.00   418.00  417.93    417.99     1654.0   0.07
...                      ...      ...     ...       ...        ...    ...
2022-05-20 04:05:00   393.20   393.21  393.20    393.21      423.0   0.01
2022-05-20 04:04:00   393.40   393.40  393.21    393.21      493.0   0.19
2022-05-20 04:03:00   393.44   393.44  393.39    393.41     1072.0   0.05
2022-05-20 04:02:00   393.43   393.48  393.41    393.41     7442.0   0.07
2022-05-20 04:01:00   389.50   393.50  389.50    393.40     4862.0   4.00

[7810 rows x 6 columns]

In [8]:
data = data.iloc[:25]
data.head

<bound method NDFrame.head of                      1. open  2. high  3. low  4. close  5. volume  Range
date
2022-06-02 20:00:00   418.04   418.04  417.92    418.00     3722.0   0.12
2022-06-02 19:59:00   418.02   418.05  418.02    418.03      889.0   0.03
2022-06-02 19:58:00   417.96   417.98  417.95    417.98     2905.0   0.03
2022-06-02 19:57:00   418.01   418.02  418.00    418.00     2591.0   0.02
2022-06-02 19:55:00   418.00   418.00  417.93    417.99     1654.0   0.07
2022-06-02 19:54:00   417.92   417.92  417.92    417.92      306.0   0.00
2022-06-02 19:53:00   417.90   417.95  417.90    417.95      992.0   0.05
2022-06-02 19:52:00   417.91   417.92  417.90    417.90     1540.0   0.02
2022-06-02 19:51:00   417.88   417.92  417.88    417.89     1269.0   0.04
2022-06-02 19:50:00   417.90   417.91  417.89    417.91     3448.0   0.02
2022-06-02 19:49:00   417.94   417.95  417.89    417.92     1308.0   0.06
2022-06-02 19:47:00   417.95   417.95  417.91    417.91      329.0   0.04
2022-06-02 19:46:00   418.07   418.07  417.95    417.97     2291.0   0.12
2022-06-02 19:45:00   418.07   418.07  418.07    418.07      652.0   0.00
2022-06-02 19:44:00   418.02   418.04  418.02    418.04      689.0   0.02
2022-06-02 19:42:00   418.05   418.05  418.05    418.05      374.0   0.00
2022-06-02 19:41:00   418.10   418.10  418.05    418.05      286.0   0.05
2022-06-02 19:36:00   418.22   418.22  418.20    418.20      870.0   0.02
2022-06-02 19:35:00   418.19   418.26  418.19    418.26      629.0   0.07
2022-06-02 19:32:00   418.12   418.12  418.12    418.12      678.0   0.00
2022-06-02 19:31:00   418.11   418.11  418.11    418.11      140.0   0.00
2022-06-02 19:26:00   418.20   418.23  418.12    418.12     2166.0   0.11
2022-06-02 19:24:00   418.15   418.15  418.15    418.15      209.0   0.00
2022-06-02 19:23:00   418.29   418.29  418.21    418.21     1231.0   0.08
2022-06-02 19:22:00   418.26   418.26  418.26    418.26     1129.0   0.00>