In [1]:
#Make sure you download Alpha Vantage library

import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import time

In [2]:
#Go to Alpha Vantage and create an API https://www.alphavantage.co/support/#api-key
api_key = 'U7CCUSM2PR95A5TJ'

In [3]:
ts = TimeSeries(key=api_key, output_format='pandas')

In [4]:
#At the 'Symbol' type the ticker you would like to analyze and at the interval the time between open and close
data, meta_data = ts.get_intraday(symbol='SPY', interval = '1min', outputsize = 'full' )

In [5]:
print(data)

                     1. open  2. high  3. low  4. close  5. volume
date
2021-08-11 20:00:00   443.56   443.57  443.56    443.57     1804.0
2021-08-11 19:59:00   443.56   443.57  443.56    443.57      364.0
2021-08-11 19:58:00   443.57   443.57  443.57    443.57      171.0
2021-08-11 19:56:00   443.60   443.60  443.60    443.60      171.0
2021-08-11 19:53:00   443.57   443.58  443.57    443.58      801.0
...                      ...      ...     ...       ...        ...
2021-07-29 04:17:00   439.46   439.46  439.46    439.46      100.0
2021-07-29 04:09:00   439.22   439.26  439.22    439.24     1439.0
2021-07-29 04:08:00   439.14   439.14  439.14    439.14      247.0
2021-07-29 04:03:00   439.30   439.30  439.30    439.30      225.0
2021-07-29 04:01:00   438.93   439.27  438.93    439.24      407.0

[7575 rows x 5 columns]

In [6]:
y = data['1. open']

In [6]:
i = 1

In [7]:
close_data = data['4. close']
percentage_change = close_data.pct_change()

In [8]:
print(percentage_change)

date
2021-07-20 20:00:00         NaN
2021-07-20 19:58:00    0.000116
2021-07-20 19:57:00   -0.000116
2021-07-20 19:56:00   -0.000093
2021-07-20 19:55:00    0.000023
                         ...
2021-07-07 04:05:00   -0.000254
2021-07-07 04:04:00   -0.000046
2021-07-07 04:03:00   -0.000046
2021-07-07 04:02:00   -0.000092
2021-07-07 04:01:00   -0.000254
Name: 4. close, Length: 8024, dtype: float64

In [9]:
data.describe()

           1. open      2. high       3. low     4. close     5. volume
count  8024.000000  8024.000000  8024.000000  8024.000000  8.024000e+03
mean    432.763618   432.821655   432.703970   432.764441  9.578014e+04
std       3.778706     3.757833     3.803327     3.778270  2.054970e+05
min     422.060000   422.165000   421.970000   422.050000  1.000000e+02
25%     430.653750   430.712175   430.600000   430.650000  1.634000e+03
50%     434.055450   434.100000   434.000000   434.059000  3.383200e+04
75%     435.600000   435.630000   435.580000   435.600000  1.203035e+05
max     437.890000   437.920000   437.770000   437.880000  5.912378e+06

In [10]:
last_change = percentage_change[-1]
print(last_change)

-0.00025374855824689124

In [11]:
if abs(last_change) > 0.0004:
    print("S&P Alert:" + last_change)

In [12]:
data["percent change"] = percentage_change
print(data)

                     1. open  2. high  3. low  4. close  5. volume  \
date
2021-07-20 20:00:00   432.06   432.06  431.98    432.00     4402.0
2021-07-20 19:58:00   432.00   432.05  432.00    432.05      939.0
2021-07-20 19:57:00   432.01   432.01  431.98    432.00     2476.0
2021-07-20 19:56:00   431.97   431.97  431.96    431.96      965.0
2021-07-20 19:55:00   431.96   431.97  431.95    431.97     3453.0
...                      ...      ...     ...       ...        ...
2021-07-07 04:05:00   433.58   433.58  433.58    433.58     3822.0
2021-07-07 04:04:00   433.56   433.56  433.56    433.56     1587.0
2021-07-07 04:03:00   433.52   433.54  433.52    433.54      283.0
2021-07-07 04:02:00   433.39   433.50  433.39    433.50     2846.0
2021-07-07 04:01:00   433.27   433.39  432.90    433.39     2203.0

                     percent change
date
2021-07-20 20:00:00             NaN
2021-07-20 19:58:00        0.000116
2021-07-20 19:57:00       -0.000116
2021-07-20 19:56:00       -0.000093
2021-07-20 19:55:00        0.000023
...                             ...
2021-07-07 04:05:00       -0.000254
2021-07-07 04:04:00       -0.000046
2021-07-07 04:03:00       -0.000046
2021-07-07 04:02:00       -0.000092
2021-07-07 04:01:00       -0.000254

[8024 rows x 6 columns]

In [13]:
#Choose a file that you would like your data exported to 
datatoexcel = pd.ExcelWriter('S&Pout.xls')

In [14]:
data.to_excel(datatoexcel)

In [15]:
datatoexcel.save()
print('DataFrame is written to Excel File Successfully')

DataFrame is written to Excel File Successfully